.card-movie{
    width: 300px;
   text-align: center;
   margin: 0 auto;
   border-bottom: 2px solid #F5F5F5;
   background: white;
   margin: 15px;
   
   .card-image{
    display: block;
    box-sizing: border-box;
   }
   .card-content{
    background: #fafafa;
    padding: 15px 0;
    font-size: 16px;
     color: black;
     .movie-name{
        display: flex;
        justify-content: center;
         text-align: center;
     }
     .movie-tags{
         display: flex;
         flex-direction: column;
     }
   }
}